body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually_hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.main-navigaion {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}

.navigation_buttons,
.cart_button {
  list-style: none;
}

.navigation_buttons a,
.cart_button a {
  text-transform: uppercase;
  color: #000000;
}

.navigation_buttons a:hover,
.navigation_buttons a:focus,
.cart_button a:hover,
.cart_button a:focus {
  color: #fb565a;
}

.navigation_buttons a:active,
.cart_button a:active {
  color: rgba(0, 0, 0, 0.3);
}

.services_list {
  list-style: none;
}

.services_item h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.services_item p {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.services_item a {
  text-transform: uppercase;
  color: #ffffff;
}

p.services_description {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.red_button,
.red_button:hover,
.red_button:active {
  padding-left: 39px;
  padding-top: 19px;
  padding-right: 39px;
  padding-bottom: 18px;
  border-radius: 3px;

  background-color: #fb565a;

  color: #ffffff;
  text-align: center;
}

.red_button:hover {
  background-color: #e74246;
}

.red_button:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}


.green_button,
.green_button:hover,
.green_button:active {
  padding-left: 39px;
  padding-top: 19px;
  padding-right: 39px;
  padding-bottom: 18px;
  border-radius: 3px;

  background-color: #00ca74;

  color: #ffffff;
  text-align: center;
}

.green_button:hover {
  background-color: #00bc6c;
}

.green_button:active {
  background-color: #00aa62;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.yellow_button,
.yellow_button:hover,
.yellow_button:active {
  padding-left: 39px;
  padding-top: 19px;
  padding-right: 39px;
  padding-bottom: 18px;
  border-radius: 3px;

  background-color: #efc84a;

  color: #ffffff;
  text-align: center;
}

.yellow_button:hover {
  background-color: #eab534;
}

.yellow_button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.studio_slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.studio_text {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.studio_description h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.development_list {
  list-style: none;
}

.development_list li {
  font-size: 16px;
  line-height: 24px;
}

.statistics h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.statistics_list {
  list-style: none;
}

.statistics_text {
  font-size: 16px;
  line-height: 18px;
  color: #283136;
}

.statistics_percentage {
  font-size: 45px;
  line-height: 10px;
  font-weight: bold;
  color: #000000;
}

.statistics_percentage span {
  font-size: 26px;
  line-height: 10px;
  font-weight: bold;
  color: #000000;
  vertical-align: super;
}

.clients_list {
  list-style: none;
}

.clients_list a {
  opacity: 0.2;
}

.clients_list a:hover {
  opacity: 1;
}

.clients_list a:active {
  opacity: 0.1;
}

.address_button,
.address_button:hover,
.address_button:active {
  padding-left: 45px;
  padding-top: 19px;
  padding-right: 46px;
  padding-bottom: 19px;
  border-radius: 3px;

  background-color: #fb565a;

  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.address_button:hover {
  background-color: #e74246;
}

.address_button:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.address_title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.address_text {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.social {
  list-style: none;
}

.social a {
  color: #ffffff;
  background-color: #e1e1e1;
}

.footer_slogan {
  text-align: left;
}

.footer_title {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
}

.footer_text {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.modal {
  background-color: white;
  color: #000000;
}

.modal h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.modal_form label {
  font: inherit;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
}

.modal_form input,
.modal_form textarea {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);

  border: 2px solid #d7dcde;
}

.modal_form input:hover,
.modal_form textarea:hover {
  border: 2px solid #b4b9bb;
}

.modal_form input:focus,
.modal_form textarea:focus {
  outline: none;
  border: 2px solid #000000;
  color: #444444;
}

.modal_form input:invalid,
.modal_form textarea:invalid {
  border: 2px solid #e74246;
  color: #e74246;
}

.modal_button {
  font: inherit;
  background-color: #fb565a;
  color: #ffffff;
}

h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  text-align: center;
}

.filter_form fieldset {
  border: none;
}

.filter_form legend {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.filter_form ul {
  list-style: none;
  line-height: 20px;
}

.filter_input + label,
.filter_input:hover + label {
  color: #283136;
}

.filter_input:disabled + label {
  color: rgba(40, 49, 54, 0.3);
}


.filter_button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;

  padding-left: 89px;
  padding-top: 19px;
  padding-right: 88px;
  padding-bottom: 18px;

  border: none;
  border-radius: 3px;

  background-color: #eeeeee;
}

.filter_button:hover {
  background-color: #dfdfdf;
}

.filter_button:active {
  color: color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.products_list {
  list-style: none;
}

.product_title a {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;

  color: #000000;
}

.product_title a:hover {
  color: #fb565a;
}

.product_title a:active {
  color: #fb565a;
  color: rgba(0, 0, 0, 0.3);
}

.product_description {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.product_button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;

  border: none;
  border-radius: 3px;

  width: 200px;
  height: 50px;

  background-color: #fb565a;
}

.product_button:hover {
  background-color: #e74246;
}

.product_button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.pagination {
  list-style: none;
}

.pagination a {
  font-size: 13.5px;
  line-height: 15.5px;
  color: #000000;

  background-color: #eeeeee;
}
